label{
    margin-top: 15px;
}

.form-control{
    margin-top: 10px; 
}

.empleador{
    margin-top: 60px;
}

.empleado{
    margin-top: 60px;
}

.titulo{
    padding-top: 140px;
}

.botonera{
    padding-top: 20px;
}

.logotalitense{
    width: 140px;
    align-content: center;
}